{% extends "base.html" %}
{% block content %}
<div class="container" >
     <form id="new-blog" action="/blogs/new" method="post">
         <div class="form-group">
             <label for="title">Title</label>
              <input type="text" id="title" class="form-control" name="title" placeholder="Type the title of your blog">
         </div>
         <div class="form-group">
             <label for="description">description</label>
              <input type="text" id="description" class="form-control "name="description" placeholder="Type the description of your blog">
         </div>
         <button type="submit" class="btn btn-primary">Create Blog</button>

     </form>
</div>
{% endblock %}